*{
    margin: 0;
    box-sizing: border-box;
    font-family: lato,sans-serif;
    padding: 0;
}
.head{
    background-color: #f3fbfe;
}
.head .heed{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 75rem;
    padding: 2rem 0;
    margin: auto;
}
.head ul{
    display: flex;
    gap: 4rem;
    list-style: none;
}
.heed img{
    width: 10.5rem;
    height: 1.8rem;
}
.head a{
    text-decoration: none;
    color: #6b7280;
}
.head .home{
    color: #002248;
}.head a:hover{
    color: #002248;
}
.top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 75rem;
    margin: auto;
    padding: 5.7rem 0;
    gap: 5rem;
}
.top img{
   width: 100%;
   max-width: 28.125rem;
   min-width: 20rem;
}
.top .text{
    width: 100%;
    max-width: 37.5rem;
}
.text h2{
    font-size: 2.6rem;
    font-weight: 600;
    line-height: 1.4;
    color: #002248;
    max-width: 566px;
}
.top p{
    color: #59788a;
    line-height: 1.8;
    margin-top: 2rem;
    max-width: 540px;
}
.top .ass{
    display: flex;
    margin: 2rem 0;
}
.text input{
    width: 100%;
    height: 50px;
    border: none;
    padding: 0 1rem;
    border-radius: 8px 0px 0px 8px;
    color: #59788a;
}
.text button{
    width: 100%;
    max-width: 120.35px;
    height: 50px;
    background-color: #f9423e;
    color: white;
    border: none;
    border-radius: 0px 8px 8px 0px;
}
.image{
    max-width: 40.5rem;
}
.homes{
    overflow: hidden;
    background-color: white;
    line-height: 1.7;
    color: #59788a;
    margin: 5rem auto 4rem;
    width: 100%;
    max-width: 75rem;
}
.ones{
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    align-items: center;
    margin: 4rem 0 0;
}
.ones h2{
    font-size: 1.4rem;
}
.ones .report{
    background-color: #fff6d7;
    width: 17.5rem;
    padding: 2rem;
    border-radius: 1rem;
}
.ones .marketing{
    background-color: #ebdcf9;
    width: 17.5rem;
    padding: 2rem;
    border-radius: 1rem;
}
.homes h3{
    color: #002248;
    font-size: 27px;
}
.ones .scheduling{
    background-color: #ddf6fd;
    width: 17.5rem;
    padding: 2rem;
    border-radius: 1rem;
}
.ones .security{
    background-color: #dcf7e8;
    width: 17.5rem;
    padding: 2rem;
    border-radius: 1rem;
}
.report h2{
    color: #ff9519;
}
.marketing h2{
    color: #9a51e0;
}
.scheduling h2{
    color: #2e80ec;
}
.bx-calendar-event{
    color: #2e80ec;
    font-size: 48px;
}
.security h2{
    color: #21d467;
}
.twos{
    width: 98vw;
    overflow: hidden;
    text-align: center;
    margin: 0 auto;
}
.two{
    max-width: 75rem;
    line-height: 1.7;
    background-color: #f3f7fa;
    padding: 4rem;
    margin: auto;
    width: 100%;
}
.two p{
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: #91a7be;
    max-width: 44rem;
    margin: 0 auto 1rem
}
.two h2{
    color: #002248;
}
.link{
    color: #2e80ec;
    text-decoration: none;
}
.link:hover{
    text-decoration: underline;
}
.three{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 75rem;
    width: 100%;
    margin: 3rem auto;
}
.three img{
    max-width: 31rem;
    width: 100%;
    min-width: 320px;
}
.three .tree{
    max-width: 35rem;
    line-height: 1.5;
    color: #59788a;
}
.three h2{
    margin-bottom: 1rem;
    color: #002248;
}
.three button{
    width: 7rem;
    font-size: 1rem;
    height: 2.7rem;
    border-radius: 4px;
    color: white;
    background-color: #f9423e;
    border: none;
    margin-top: 2.5rem;
}
.four{
    background-color: #f3fbfe;
    padding: 10rem 0 0;
    clip-path: polygon(0 0, 100% 15%, 100% 100%, 0 100%);
    align-items: center;
}
.four h2{
    max-width: 28rem;
    color: #002248;
}
.four .long{
    margin: 2rem 0;
    width: 28vw;
}
.four .container{
    display: flex;
    line-height: 2;
    color: #59788a;
    justify-content: space-between;
    width: 100%;
    max-width: 75rem;
    margin: auto;
}
.four img{
    max-width: 21.9rem;
    width: 100%;
    height: 21.9rem;
    min-width: 320px;
}
.long .space{
    display: inline-flex;
}
.space p{
    width: 15rem;
}
.four i{
    color: #2e80ec;
    font-size: 1.2rem;
    margin-right: 1rem;
}
.foor{
    line-height: 2;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: start;
    max-width: 53rem;
}
.five{
    background-color: #438cfb;
    color: white;
}
.five .start{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    width: 100%;
    max-width: 75rem;
    line-height: 1.7;
    font-size: 1.2rem;
    padding: 3rem 0;
}
.five p{
    color: #eaeef3;
}
.five a{
    color: white;
    text-decoration: none;
}
.five .sta{
    width: 17rem;
    height: 4rem;
    color: white;
    background-color: #21d467;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    font-size: 1.2rem;
}
.five button:hover{
    background-color: #61da90;
    transition: 0.6s ease-in-out;
}
.last{
    background-color: #3f4261;
    color: #9d9db1;
    line-height: 2;
}
.last .back{
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 75rem;
    padding: 4rem 0;
    margin: auto;
}
.last ul{
    list-style: none;
}
.last li{
    width: 10rem;
}
.last .page{
    max-width: 287px;
    width: 100%;
}
.last a{
    color: #9d9db1;
    text-decoration: none;
}
.last a:hover{
    color: white;
}
.last img{
    width: 10.5rem;
    height: 1.8rem;
}
.last h5{
    color: white;
    font-size: 1.1rem;
    width: 11rem;
}
.save{
    width: 10rem;
}
footer{
    background-color: #383b57;
    color: #9d9db1;
}
footer .sand{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 75rem;
    margin: auto;
    padding: 1rem 0;
}
footer a{
    color: #9d9db1;
    margin-left: 1.5rem;
    text-decoration: none;
}
footer .boom{
    color: white;
}
.fa-rss{
    color: white;
    font-size: 1.5rem;
    background-color: #ff9519;
    padding: 0.3rem;
    border-radius: 50%;
}
.fa-facebook{
    color: white;
    background-color: blue;
    border-radius: 1rem;
    font-size: 1.5rem;
    padding: 0.4rem;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
}
.fa-x-twitter{
    font-size: 1.5rem;
    color: white;
    background-color: black;
    padding: 0.4rem;
    border-radius: 100%;
}
.page{
    margin-bottom: 1.5rem;
}
@media(max-width:900px) {
  .back{
    flex-direction: column;
    gap: 6rem;
  }
  .back .page{
    max-width: 100%;
    }  
}
@media(max-width:768px) {
    *{
        flex-wrap: wrap;
        flex-direction: column;
    }
    .top{
        max-width: 100vw;
        margin: 0;
        align-items: flex-start;
    }
    .heed{
        gap: 3rem;
        width: 100vw;
    }
    .head{
        padding: 0 6vw;
    }
    .heed ul{
        flex-direction: row;
        gap: 12vw;
    }
    .text{
        flex-direction: column;
    }
    .sand{
        flex-direction: column;
        gap: 1rem;
    }
    .top .image{
        margin: auto;
    }
    form{
        flex-direction: column;
        gap: 1rem;
        width: 86vw;
    }
    .ass input{
        border-radius: 0.5rem;
        padding: 0 2rem;
    }
    .marketing{
        flex-grow: 1;
        width: 100%;
        margin: 0;
    }
    .report{
        flex-grow: 1;
        width: 100%;
    }
    .scheduling{
        flex-grow: 1;
        width: 100%;
    }
    .security{
        flex-grow: 1;
        max-width: 100%;
    }
    .ass button{
        max-width: 100%;
        border-radius: 0.5rem;
    }
    .homes p{
        width: 100%;
    }
    .homes{
        text-align: center;
    }
    .ones{
        flex-direction: row;
        margin: 0;
        padding: 0 6vw;
        text-align: start;
    }
    .twos{
        padding: 0 6vw;
        margin: 4rem 0;
        width: 100vw;
    }
    .three{
        padding: 0 6vw;
        margin: 0;
        max-width: 100vw;
        flex-direction: column-reverse;
    }
    .three .tree{
        margin: 0 0 4rem;
        max-width: 100vw;
    }
    .four{
        margin: 0;
        clip-path: none;
    }
    .four .container{
        flex-direction: column;
        margin: 0;
        padding: 0 6vw;
        justify-content: flex-start;
    }
    .foor{
        flex-direction: column;
    }
    .long .space{
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        margin: 0;
        padding: 0;
    }
    .cont{
        margin: 0 0 6rem;
    }
    .five{
        margin: auto;
    }
    .start .sta{
        width: 86vw;
    }
    .star{
        width: 100vw;
        padding: 0 6vw;
        max-width: 75rem;
        margin: auto;
    }
    .last .page{
        width: 90vw;
    }
    .last{
        padding: 0 6vw;
    }
}